<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
	
	<servlet>
		<servlet-name>addFaculty</servlet-name>
		<servlet-class>Services.addFaculty</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addFaculty</servlet-name>
		<url-pattern>/addfaculty </url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>addStudent</servlet-name>
		<servlet-class>Services.addStudent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addStudent</servlet-name>
		<url-pattern>/addstudent </url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>addForm</servlet-name>
		<servlet-class>Services.addForm</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addForm</servlet-name>
		<url-pattern>/addform </url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EachFaculty</servlet-name>
		<servlet-class>Services.EachFaculty</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EachFaculty</servlet-name>
		<url-pattern>/geteachfaculty </url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EachStudent</servlet-name>
	<servlet-class>Services.EachStudent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EachStudent</servlet-name>
		<url-pattern>/geteachstudent </url-pattern>
	</servlet-mapping>


</web-app>