<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
	
	<servlet>
		<servlet-name>addFaculty</servlet-name>
		<servlet-class>Services.addFaculty</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addFaculty</servlet-name>
		<url-pattern>/addfaculty </url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>addStudent</servlet-name>
		<servlet-class>Services.addStudent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addStudent</servlet-name>
		<url-pattern>/addstudent </url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EachFaculty</servlet-name>
		<servlet-class>Services.EachFaculty</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EachFaculty</servlet-name>
		<url-pattern>/geteachfaculty </url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EachStudent</servlet-name>
	<servlet-class>Services.EachStudent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EachStudent</servlet-name>
		<url-pattern>/geteachstudent </url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>getEachStudentPublication</servlet-name>
	<servlet-class>Services.getEachStudentPublication</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getEachStudentPublication</servlet-name>
		<url-pattern>/geteachstudentpublication </url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>getAdminFaculty</servlet-name>
	<servlet-class>Services.getAdminFaculty</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getAdminFaculty</servlet-name>
		<url-pattern>/getadminfaculty </url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>getAdminStudent</servlet-name>
	<servlet-class>Services.getAdminStudent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getAdminStudent</servlet-name>
		<url-pattern>/getadminstudent </url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>addPublication</servlet-name>
	<servlet-class>Services.addPublication</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addPublication</servlet-name>
		<url-pattern>/addpublication </url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>deleteAdminFaculty</servlet-name>
	<servlet-class>Services.deleteAdminFaculty</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteAdminFaculty</servlet-name>
		<url-pattern>/deleteadminfaculty </url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>claimPublication</servlet-name>
	<servlet-class>Services.claimPublication</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>claimPublication</servlet-name>
		<url-pattern>/claimpublication </url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>editStudent</servlet-name>
	<servlet-class>Services.editStudent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>editStudent</servlet-name>
		<url-pattern>/editstudent </url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>editFaculty</servlet-name>
	<servlet-class>Services.editFaculty</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>editFaculty</servlet-name>
		<url-pattern>/editfaculty </url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>getEachFacultyPublication</servlet-name>
	<servlet-class>Services.getEachFacultyPublication</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getEachFacultyPublication</servlet-name>
		<url-pattern>/geteachfacultypublication </url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>acceptPublication</servlet-name>
	<servlet-class>Services.acceptPublication</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>acceptPublication</servlet-name>
		<url-pattern>/acceptpublication </url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>declinePublication</servlet-name>
	<servlet-class>Services.declinePublication</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>declinePublication</servlet-name>
		<url-pattern>/declinepublication </url-pattern>
	</servlet-mapping>
	
	


</web-app>